<!DOCTYPE html>
<html lang="ar">
  <head id="Head-Page">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/file/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <title>الصفحة الرئيسية</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: #fff;
      font-family: "Tajawal", sans-serif;
      font-size: 17px;
    }

    html {
      width: 100%;
      height: 100%;
    }

    body,
    #page-screen {
      display: block;
      width: 100%;
      height: 100%;
      align-items: start;
      overflow: auto;
      background-color: #111;
    }
    input::placeholder {
      color: var(--placeholder-color, gray);
    }

    input:focus {
      outline: none;
    }
  </style>
  <body>
    <div class="page-screen isDrop" id="page-screen">
      <div
        class=""
        data-type="box"
        style="
          border-style: solid;
          border-color: rgb(68, 68, 68);
          border-width: 0px;
          padding: 10px;
          width: 100%;
          height: 100%;
          flex-flow: column wrap;
          justify-content: center;
          align-items: center;
          gap: 0px;
          text-align: center;
          display: flex;
        "
      >
        <div
          class=""
          data-type="box"
          style="
            display: flex;
            border-style: solid;
            border-color: rgb(115, 0, 255);
            border-width: 0px;
            padding: 3px;
            width: 100%;
            height: auto;
            border-radius: 12px;
            background-color: transparent;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: initial;
          "
        >
          {% for i in data%}
          <div
            class=""
            id="box-acc-{{data[i]['number']}}"
            data-type="box"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(115, 0, 255);
              border-width: 1px;
              padding: 3px 5px;
              width: 100%;
              height: auto;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              direction: rtl;
              border-radius: 12px;
              background-color: rgb(0, 0, 0);
            "
          >
            <div
              class=""
              data-type="box"
              style="
                display: flex;
                border-style: solid;
                border-color: rgb(68, 68, 68);
                border-width: 0px;
                padding: 2px;
                width: auto;
                height: auto;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 3px;
              "
            >
              <img
                class=""
                data-type="image"
                style="
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                  border-width: 0px;
                "
                src="{{data[i]['img']}}"
              />
              <div
                class=""
                data-type="box"
                style="
                  display: flex;
                  border-style: solid;
                  border-color: rgb(68, 68, 68);
                  border-width: 0px;
                  padding: 0px;
                  width: auto;
                  height: auto;
                  flex-direction: column;
                  justify-content: center;
                  align-items: start;
                  gap: 1px;
                "
              >
                <span
                  class=""
                  data-type="text"
                  style="
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 14px;
                    direction: ltr;
                  "
                  >{{data[i]['name']}}
                </span>
                <span
                  class=""
                  data-type="text"
                  style="
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 14px;
                  "
                  >{{i}}</span
                >
                {% if data[i]['isPost'] %}
                <span
                  class=""
                  data-type="text"
                  style="
                    color: rgb(0, 255, 0);
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 12px;
                  "
                  >حالة النشر</span
                >
                {% endif %} {% if data[i]['isPost'] == False %}
                <span
                  class=""
                  data-type="text"
                  style="
                    color: rgb(255, 0, 0);
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 12px;
                  "
                  >حالة النشر</span
                >
                {% endif %}
              </div>
            </div>
            <div
              class=""
              data-type="box"
              style="
                display: flex;
                border-style: solid;
                border-color: rgb(68, 68, 68);
                border-width: 0px;
                padding: 0px;
                width: auto;
                height: auto;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
              "
            >
              <a
                href="seting/{{data[i]['number']}}"
                style="text-decoration-line: none"
              >
                <div
                  class=""
                  data-type="box"
                  style="
                    color: rgb(0, 0, 0);
                    background-color: rgb(115, 0, 255);
                    width: 40px;
                    height: 40px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    display: flex;
                    border-radius: 50%;
                    padding: 0px;
                    gap: 0px;
                  "
                >
                  <span
                    class="fi fi-rr-settings"
                    data-type="text"
                    style="
                      color: rgb(255, 255, 255);
                      font-style: italic;
                      font-size: 21px;
                      direction: rtl;
                      text-decoration: dashed;
                      display: flex;
                      text-align: center;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      font-weight: 900;
                    "
                  >
                  </span>
                </div>
              </a>
              <div
                class=""
                data-type="box"
                onclick="exitLogin(`{{data[i]['number']}}`)"
                style="
                  color: rgb(255, 255, 255);
                  background-color: rgb(255, 0, 0);
                  width: 40px;
                  height: 40px;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  display: flex;
                  border-radius: 50%;
                  padding: 0px;
                  gap: 0px;
                "
              >
                <span
                  class="fi fi-rr-delete-user"
                  data-type="text"
                  style="
                    color: rgb(255, 255, 255);
                    font-style: italic;
                    font-size: 21px;
                    direction: rtl;
                    text-decoration: dashed;
                    display: flex;
                    text-align: center;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-weight: 900;
                  "
                >
                </span>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>

        <form
          action="login-number"
          style="
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
          "
        >
          <button
            class=""
            data-type="box"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(17, 17, 17);
              border-width: 1px;
              padding: 10px;
              width: 90%;
              height: auto;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 5px;
              background-color: rgb(115, 0, 255);
              border-radius: 12px;
              margin-top: 7px;
            "
          >
            <span
              class="fi fi-rr-user-add"
              data-type="text"
              style="
                color: rgb(255, 255, 255);
                display: flex;
                text-align: center;
                font-weight: bold;
                font-size: 20px;
              "
            >
            </span>
            <span
              class=""
              data-type="text"
              style="
                color: rgb(255, 255, 255);
                font-weight: bold;
                font-size: 18px;
              "
              >اضافة حساب
            </span>
          </button>
        </form>
      </div>
    </div>
    <script>
      function exitLogin(number) {
        fetch(`/exitLogin/${number}`);
        document.getElementById(`box-acc-${number}`).remove();
      }
    </script>
  </body>
</html>
