<!DOCTYPE html>
<html lang="en">
  <head id="Head-Page">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
    <title>Engine</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: #fff;
      font-family: "Tajawal", sans-serif;
      font-size: 17px;
    }

    html {
      width: 100%;
      height: 100%;
    }

    body,
    #page-screen {
      display: block;
      width: 100%;
      height: 100%;
      align-items: start;
      overflow: auto;
      background-color: #111;
    }
    input::placeholder {
      color: var(--placeholder-color, gray);
    }

    input:focus {
      outline: none;
    }

    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1000;
      justify-content: center;
      align-items: center;
    }

    .modal-content {
      background-color: #111;
      width: 80%;
      height: 80%;
      padding: 20px;
      overflow-y: auto;
      position: relative;
    }

    .close-btn {
      position: absolute;
      top: 1px;
      left: 10px;
      font-size: 40px;
      cursor: pointer;
    }

    h2 {
      text-align: center;
    }

    .add-user-btn {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
    }

    .add-user-btn:hover {
      background-color: #45a049;
    }

    /* تنسيق قائمة المستخدمين */
    .user-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .user {
      display: flex;
      align-items: center;
      margin: 10px;
      background-color: #f4f4f4;
      padding: 10px;
      border-radius: 10px;
      width: 200px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }

    .user-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .user-info {
      text-align: left;
    }

    .user-name {
      font-size: 18px;
      font-weight: bold;
    }

    .user-type {
      color: #777;
      font-size: 14px;
    }
  </style>
  <body>
    <div id="modal" class="modal">
      <span id="closeModalBtn" class="close-btn">&times;</span>
      <div class="modal-content" id="list-add-chat">
        <span
          class=""
          data-type="text"
          style="
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-size: 17px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          "
          >جاري تحميل المحادثات أنتضر قليلة</span
        >
        
      </div>
    </div>

    <div id="modal2" class="modal">
      <span id="closeModalBtn2" class="close-btn">&times;</span>
      <div class="modal-content">
        <input
              class=""
              data-type="inputText"
              id="input-name-text"
              type="text"
              style="
                outline: none;
                background-color: rgb(17, 17, 17);
                border-color: rgb(115, 0, 255);
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                font-size: 13px;
                font-weight: bold;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 5px;
                width: 100%;
                padding: 8px;
                direction: rtl;
              "
              placeholder="عنوان قصير (هذا العنون يضهر لك فقط)"
            />
            <textarea
              class=""
              data-type="inputText"
              id="input-text-text"
              type="text"
              style="
                outline: none;
                background-color: rgb(17, 17, 17);
                border-color: rgb(115, 0, 255);
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                font-size: 13px;
                font-weight: bold;
                text-align: right;  /* محاذاة النص لليمين */
                vertical-align: top;
                margin-top: 10px;
                margin-bottom: 5px;
                width: 100%;
                height: 160px;
                padding: 8px;
                direction: rtl;
                resize: none;
              "
              placeholder="ادخل الرسالة التي تريد نشرها , هنا"
            ></textarea>
            <input
              class=""
              id="input-sleep-text"
              data-type="inputText"
              type="number"
              style="
                outline: none;
                background-color: rgb(17, 17, 17);
                border-color: rgb(115, 0, 255);
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                font-size: 13px;
                font-weight: bold;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 5px;
                width: 100%;
                padding: 8px;
                direction: rtl;
              "
              placeholder="مدة التوقف بين الرسائل (بلثواني)"
            />
            <input
              class=""
              data-type="inputText"
              id="input-but-text"
              type="button"
              value="حفظ الرسالة"
              style="
                outline: none;
                background-color: rgb(17, 17, 17);
                border-color: #222;
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                font-size: 13px;
                font-weight: bold;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 5px;
                width: 100%;
                padding: 8px;
                direction: rtl;
              "
              onclick="AddMsgTextList()"
            />
      </div>
    </div>



    <div id="modal3" class="modal">
      <span id="closeModalBtn3" class="close-btn">&times;</span>
      <div class="modal-content">
        <span
          class=""
          data-type="text"
          style="
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-size: 17px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          "
          >صفحة معاينة الرسالة</span
        >
        <input
              class=""
              data-type="inputText"
              id="input-name-text-view"
              type="text"
              style="
                outline: none;
                background-color: rgb(17, 17, 17);
                border-color: rgb(115, 0, 255);
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                font-size: 13px;
                font-weight: bold;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 5px;
                width: 100%;
                padding: 8px;
                direction: rtl;
                user-select: all;
              "
              readonly 
              placeholder="عنوان قصير (هذا العنون يضهر لك فقط)"
            />
            <textarea
              class=""
              readonly 
              data-type="inputText"
              id="input-text-text-view"
              type="text"
              style="
                outline: none;
                background-color: rgb(17, 17, 17);
                border-color: rgb(115, 0, 255);
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                font-size: 13px;
                font-weight: bold;
                text-align: right;  /* محاذاة النص لليمين */
                vertical-align: top;
                margin-top: 10px;
                margin-bottom: 5px;
                width: 100%;
                height: 160px;
                padding: 8px;
                direction: rtl;
                resize: none;
                user-select: all;
              "
              placeholder="ادخل الرسالة التي تريد نشرها , هنا"
            ></textarea>
            <input
              class=""
              readonly 
              id="input-sleep-text-view"
              data-type="inputText"
              type="number"
              style="
                outline: none;
                background-color: rgb(17, 17, 17);
                border-color: rgb(115, 0, 255);
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                font-size: 13px;
                font-weight: bold;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 5px;
                width: 100%;
                padding: 8px;
                direction: rtl;
              "
             
            />
      </div>
    </div>






    <div class="page-screen isDrop" id="page-screen">
      <div
        class=""
        data-type="box"
        style="
          border-style: solid;
          border-color: rgb(68, 68, 68);
          border-width: 0px;
          padding: 0px;
          flex-flow: column;
          justify-content: flex-start;
          align-items: start;
          gap: 0px;
          text-align: center;
          display: flex;
          background-color: rgb(17, 17, 17);
          white-space: normal;
          overflow-wrap: normal;
          word-break: normal;
          width: auto;
          height: auto;
        "
      >
        <div
          class=""
          data-type="box"
          style="
            display: flex;
            border-style: solid;
            border-color: rgb(115, 0, 255);
            border-width: 0px 0px 1px;
            padding: 10px;
            width: 100%;
            height: auto;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            direction: rtl;
            background-color: rgb(17, 17, 17);
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
          "
        >
          <div
            class=""
            data-type="box"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(115, 0, 255);
              border-width: 0px;
              padding: 0px;
              width: auto;
              height: auto;
              gap: 5px;
            "
          >
            <img
              class=""
              data-type="image"
              style="
                width: 50px;
                height: 50px;
                background-color: transparent;
                color: initial;
                border-radius: 50%;
                border-width: 2px;
                border-style: solid;
                border-color: rgb(115, 0, 255);
              "
              src="{{data['img']}}"
            />
            <div
              class=""
              data-type="box"
              style="
                display: flex;
                border-style: solid;
                border-color: rgb(68, 68, 68);
                border-width: 0px;
                padding: 0px;
                width: auto;
                height: auto;
                flex-direction: column;
                justify-content: center;
                align-items: start;
              "
            >
              <span
                class=""
                data-type="text"
                style="
                  color: rgb(255, 255, 255);
                  font-weight: bold;
                  font-size: 13px;
                "
                >{{data['number']}}</span
              >
              <span
                class=""
                data-type="text"
                style="
                  color: rgb(255, 255, 255);
                  font-weight: bold;
                  font-size: 12px;
                "
                >الرسائل : {{data['lenMsgs']}}</span
              >
              <span
                class=""
                data-type="text"
                style="
                  color: rgb(255, 255, 255);
                  font-weight: bold;
                  font-size: 12px;
                "
                >المحادثات: {{len(data['list_msg'])}}</span
              >
            </div>
          </div>
          <div
            class=""
            data-type="box"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(68, 68, 68);
              border-width: 0px;
              padding: 0px;
              width: auto;
              height: auto;
            "
          >
            {% if data['isPost'] %}
            <form method="post">
              <input type="hidden" name="value" value="off">
            <button
              class=""
              data-type="box"
              style="
                display: flex;
                border-style: solid;
                border-color: rgb(68, 68, 68);
                border-width: 0px;
                padding: 6px;
                width: auto;
                height: auto;
                background-color: rgb(9, 221, 2);
                border-radius: 20px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5px;
              "
            >
              <span
                class=""
                data-type="text"
                style="
                  color: rgb(255, 255, 255);
                  font-weight: bold;
                  font-size: 14px;
                "
                >أيقاف النشر</span
              >
              <span
                class="fi fi-rr-stop-circle"
                data-type="text"
                style="
                  color: rgb(255, 255, 255);
                  display: flex;
                  text-align: center;
                  font-size: 20px;
                "
              >
              </span>
            </button>
            </form>
            {% endif %} {% if data['isPost'] == False %}
            <form method="post">
              <input type="hidden" name="value" value="on">
            <button
              class=""
              data-type="box"
              style="
                display: flex;
                border-style: solid;
                border-color: rgb(68, 68, 68);
                border-width: 0px;
                padding: 6px;
                width: auto;
                height: auto;
                background-color: rgb(255, 0, 0);
                border-radius: 20px;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5px;
              "
            >
              <span
                class=""
                data-type="text"
                style="
                  color: rgb(255, 255, 255);
                  font-weight: bold;
                  font-size: 16px;
                "
                >بدء النشر</span
              >
              <span
                class="fi fi-rr-play"
                data-type="text"
                style="
                  color: rgb(255, 255, 255);
                  display: flex;
                  text-align: right;
                  font-size: 20px;
                "
              >
              </span>
            </button>
            </form>
            {% endif %}
            
            <a
            href="/"
              class=""
              data-type="box"
              style="
                outline: none;
                text-decoration-line: none;
                display: flex;
                border-style: solid;
                border-color: rgb(68, 68, 68);
                border-width: 0px;
                padding: 10px;
                width: 40px;
                height: 40px;
                background-color: rgb(255, 255, 255);
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                margin-right: 15px;
              "
            >
              <span
                class="fi fi-rr-arrow-small-left"
                data-type="text"
                style="color: rgb(115, 0, 255); display: flex; font-size: 30px"
              >
              </span>
            </a>
          </div>
        </div>
        <div
          class=""
          data-type="box"
          style="
            display: flex;
            border-style: solid;
            border-color: rgb(68, 68, 68);
            border-width: 0px;
            padding: 10px;
            width: 100%;
            height: auto;
            flex-flow: column;
            margin-top: 10px;
            background-color: transparent;
          "
        >
          <div
            class=""
            data-type="box"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(68, 68, 68);
              border-width: 0px;
              padding: 0px;
              height: auto;
              width: 100%;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 6px;
              direction: rtl;
              margin-top: 5px;
              margin-bottom: 5px;
            "
          >
            <span
              class=""
              data-type="text"
              style="
                color: rgb(255, 255, 255);
                font-weight: bold;
                font-size: 17px;
              "
              >قائمة المحادثات المحددة</span
            >
            <span
              class="fi fi-rr-comment"
              data-type="text"
              style="color: rgb(255, 255, 255); display: flex"
            >
            </span>
          </div>
          <div
            class="list-chat-me"
            data-type="box"
            id="list-chat-me"
            style="
              border-style: solid;
              border-color: rgb(115, 0, 255);
              border-width: 1px;
              padding: 10px;
              width: 100%;
              height: 200px;
              margin-top: 3px;
              border-radius: 9px;
              display: block;
              overflow-y: auto;
            "
          >
            {% for i in data['list_msg'] %}
            <div
              class=""
              id="box-chat-me-{{data['list_msg'][i]['id']}}"
              data-type="box"
              style="
                display: flex;
                border-style: solid;
                border-color: rgb(34, 34, 34);
                border-width: 1px;
                padding: 5px;
                width: 100%;
                height: auto;
                margin: 5px 0px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px;
              "
            >
              <div
                class=""
                onclick="deletChatFromID(`{{data['list_msg'][i]['id']}}`)"
                data-id="{{data['list_msg'][i]['id']}}"
                style="
                  display: flex;
                  border-style: solid;
                  border-color: rgb(68, 68, 68);
                  border-width: 0px;
                  padding: 10px;
                  width: 40px;
                  height: 40px;
                  background-color: rgb(255, 0, 0);
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                "
              >
                <span
                  class="fi fi-rr-trash"
                  data-type="text"
                  style="
                    color: rgb(255, 255, 255);
                    display: flex;
                    font-size: 21px;
                  "
                >
                </span>
              </div>
              <div
                class=""
                data-type="box"
                style="
                  display: flex;
                  border-style: solid;
                  border-color: rgb(68, 68, 68);
                  border-width: 0px;
                  padding: 5px;
                  width: auto;
                  height: auto;
                  direction: rtl;
                  gap: 5px;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                "
              >
                <img
                  class=""
                  data-type="image"
                  style="width: 50px; height: 50px; border-radius: 50%"
                  src="{{data['list_msg'][i]['img']}}"
                />
                <div
                  class=""
                  data-type="box"
                  style="
                    display: flex;
                    border-style: solid;
                    border-color: rgb(68, 68, 68);
                    border-width: 0px;
                    padding: 0px;
                    width: auto;
                    height: auto;
                    flex-direction: column;
                    justify-content: right;
                    align-items: flex-start;
                  "
                >
                  <span
                    class=""
                    data-type="text"
                    style="
                      color: rgb(255, 255, 255);
                      width: auto;
                      height: auto;
                      font-weight: bold;
                      text-align: right;
                      direction: rtl;
                      font-size: 13px;
                    "
                    >{{data['list_msg'][i]['name']}}</span
                  >
                  <span
                    class=""
                    data-type="text"
                    style="
                      color: rgb(115, 0, 255);
                      font-weight: bold;
                      font-size: 13px;
                    "
                    >{{data['list_msg'][i]['type']}}</span
                  >
                </div>
              </div>
            </div>

            {% endfor %}
          </div>
          <div
            class=""
            id="openModalBtn"
            data-type="box"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(68, 68, 68);
              border-width: 0px;
              padding: 10px;
              width: auto;
              height: auto;
              margin-top: 11px;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 10px;
              color: initial;
              background-color: rgb(115, 0, 255);
              border-radius: 6px;
            "
          >
            <span
              class="fi fi-rr-add"
              data-type="text"
              style="
                color: rgb(255, 255, 255);
                display: flex;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                direction: rtl;
              "
            >
            </span>
            <span
              class=""
              data-type="text"
              style="
                color: rgb(255, 255, 255);
                font-size: 18px;
                font-weight: bold;
              "
              >أضافة</span
            >
          </div>
          <div
            class=""
            data-type="box"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(68, 68, 68);
              border-width: 0px;
              padding: 0px;
              height: auto;
              width: 100%;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 6px;
              direction: rtl;
              margin-top: 5px;
              margin-bottom: 5px;
            "
          >
            <span
              class=""
              data-type="text"
              style="
                color: rgb(255, 255, 255);
                font-weight: bold;
                font-size: 17px;
                margin-top: 15px;
              "
              >قائمة رسائل النشر</span
            >
            <span
              class="fi fi-rr-comment-alt"
              data-type="text"
              style="color: rgb(255, 255, 255); display: flex"
            >
            </span>
          </div>
          <div
            class=""
            data-type="box"
            id="box-list-texts-id"
            style="
              border-style: solid;
              border-color: rgb(115, 0, 255);
              border-width: 1px;
              padding: 10px;
              width: 100%;
              height: 200px;
              margin-top: 3px;
              border-radius: 9px;
              display: block;
              overflow-y: auto;
            "
          >

          {% for txt in data['list_text'] %}
            <div
              class=""
              id="box-text-my-{{txt['index']}}"
              
              data-type="box"
              style="
                display: flex;
                border-style: solid;
                border-color: rgb(34, 34, 34);
                border-width: 1px;
                padding: 5px;
                width: 100%;
                height: auto;
                margin: 5px 0px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px;
              "
            >
              <div
                class=""
                data-type="box"
                onclick="deletTextFromIndex(`{{txt['index']}}`)"
                style="
                  display: flex;
                  border-style: solid;
                  border-color: rgb(68, 68, 68);
                  border-width: 0px;
                  padding: 10px;
                  width: 40px;
                  height: 40px;
                  background-color: rgb(255, 0, 0);
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                "
              >
                <span
                  class="fi fi-rr-trash"
                  data-type="text"
                  style="
                    color: rgb(255, 255, 255);
                    display: flex;
                    font-size: 21px;
                  "
                >
                </span>
              </div>
              <div
                class=""
                data-type="box"
                onclick="ViewTextMsg(`{{txt['name']}}`,`{{txt['text']}}`,`{{txt['sleep']}}`)"
                style="
                  display: flex;
                  border-style: solid;
                  border-color: rgb(68, 68, 68);
                  border-width: 0px;
                  padding: 5px;
                  width: auto;
                  height: auto;
                  direction: rtl;
                  gap: 5px;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                "
              >
                <div
                  class=""
                  data-type="box"
                  style="
                    display: flex;
                    border-style: solid;
                    border-color: rgb(68, 68, 68);
                    border-width: 0px;
                    padding: 0px;
                    width: auto;
                    height: auto;
                    flex-direction: column;
                    justify-content: right;
                    align-items: flex-start;
                  "
                >
                  <span
                    class=""
                    data-type="text"
                    style="
                      color: rgb(255, 255, 255);
                      width: auto;
                      height: auto;
                      font-weight: bold;
                      text-align: right;
                      direction: rtl;
                      font-size: 13px;
                    "
                    >{{txt["name"]}}</span
                  >
                  <span
                    class=""
                    data-type="text"
                    style="
                      color: rgb(115, 0, 255);
                      font-weight: bold;
                      font-size: 13px;
                    "
                    >{{txt['sleep']}} ثانية</span
                  >
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          <div
            class=""
            data-type="box"
            id="openModalBtn2"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(68, 68, 68);
              border-width: 0px;
              padding: 10px;
              width: auto;
              height: auto;
              margin-top: 11px;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 10px;
              color: initial;
              background-color: rgb(115, 0, 255);
              border-radius: 6px;
            "
          >
            <span
              class="fi fi-rr-add"
              data-type="text"
              style="
                color: rgb(255, 255, 255);
                display: flex;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                direction: rtl;
              "
            >
            </span>
            <span
              class=""
              data-type="text"
              style="
                color: rgb(255, 255, 255);
                font-size: 18px;
                font-weight: bold;
              "
              >أضافة</span
            >
          </div>
        </div>

        <div
          class=""
          data-type="box"
          style="
            display: none;
            border-style: solid;
            border-color: rgb(68, 68, 68);
            border-width: 0px;
            padding: 10px;
            width: 100%;
            height: auto;
            color: rgb(0, 0, 0);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            direction: rtl;
          "
        >
          <div
            class=""
            data-type="box"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(68, 68, 68);
              border-width: 0px;
              padding: 0px;
              width: auto;
              height: auto;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              gap: 9px;
            "
          >
            <input
              type="checkbox"
              style="
                border-style: solid;
                border-color: rgb(68, 68, 68);
                border-width: 1px;
                padding: 10px;
                width: auto;
                height: auto;
                margin-right: 15px;
              "
            ></input>
            <span
              class=""
              data-type="text"
              style="
                color: rgb(255, 255, 255);
                font-weight: bold;
                font-size: 15px;
              "
              >رد التلقائي</span
            >
          </div>
          <div
            class=""
            data-type="box"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(68, 68, 68);
              border-width: 0px;
              padding: 0px;
              width: auto;
              height: auto;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 5px;
            "
          >
            <input
              class=""
              data-type="inputText"
              type="text"
              style="
                outline: none;
                background-color: rgb(17, 17, 17);
                border-color: rgb(115, 0, 255);
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                font-size: 14px;
                font-weight: bold;
                text-align: right;
                padding: 5px;
              "
              placeholder="نص الرد التلقائي"
            />
            <input
              class=""
              data-type="inputText"
              type="number"
              style="
                outline: none;
                background-color: rgb(17, 17, 17);
                border-color: rgb(115, 0, 255);
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                font-size: 14px;
                font-weight: bold;
                padding: 5px;
                text-align: right;
              "
              placeholder="وقت رد بلثانية"
            />
          </div>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("openModalBtn")
        .addEventListener("click", function () {
          document.getElementById("modal").style.display = "flex";
        });

        document
        .getElementById("openModalBtn2")
        .addEventListener("click", function () {
          document.getElementById("modal2").style.display = "flex";
        });
      // إغلاق النافذة المنبثقة عند الضغط على زر الإغلاق
      document
        .getElementById("closeModalBtn")
        .addEventListener("click", function () {
          document.getElementById("modal").style.display = "none";
        });
        document
        .getElementById("closeModalBtn2")
        .addEventListener("click", function () {
          document.getElementById("modal2").style.display = "none";
        });
        document
        .getElementById("closeModalBtn3")
        .addEventListener("click", function () {
          document.getElementById("modal3").style.display = "none";
        });
      // إغلاق النافذة عند الضغط خارج المحتوى
      window.addEventListener("click", function (event) {
        if (event.target === document.getElementById("modal2")) {
          document.getElementById("modal2").style.display = "none";
        }
      });
      window.addEventListener("click", function (event) {
        if (event.target === document.getElementById("modal3")) {
          document.getElementById("modal3").style.display = "none";
        }
      });
      window.addEventListener("click", function (event) {
        if (event.target === document.getElementById("modal")) {
          document.getElementById("modal").style.display = "none";
        }
      });
      function GENItemsAddd(dt) {
        return `
                    <div
                    class=""
                    id="box-chat-add-${dt[0]}"
                    data-id="${dt[0]}"
                    data-name="${dt[1]}"
                    data-chat="${dt[2]}"
                    style="
                      display: flex;
                      border-style: solid;
                      border-color: rgb(34, 34, 34);
                      border-width: 1px;
                      padding: 5px;
                      width: 100%;
                      height: auto;
                      margin: 5px 0px;
                      flex-direction: row;
                      justify-content: space-between;
                      align-items: center;
                      border-radius: 10px;
                    "
                  >
                    <div
                      class=""
                      data-type="box"
                      onclick="AddChatInList('${dt[0]}')"
                      style="
                        display: flex;
                        border-style: solid;
                        border-color: rgb(68, 68, 68);
                        border-width: 0px;
                        padding: 10px;
                        width: 40px;
                        height: 40px;
                        background-color: rgb(76, 255, 6);
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                      "
                    >
                      <span
                        class="fi fi-rr-add"
                        data-type="text"
                        style="color: rgb(255, 255, 255); display: flex; font-size: 21px"
                      >
                      </span>
                    </div>
                    <div
                      class=""
                      data-type="box"
                      
                      style="
                        display: flex;
                        border-style: solid;
                        border-color: rgb(68, 68, 68);
                        border-width: 0px;
                        padding: 5px;
                        width: auto;
                        height: auto;
                        direction: rtl;
                        gap: 5px;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                      "
                    >
                      <img
                        id="img-${dt[0]}"
                        class=""
                        data-type="image"
                        style="width: 50px; height: 50px; border-radius: 50%"
                        src="{{api_img}}/static/image/${dt[0]}.jpg"
                      />
                      <div
                        class=""
                        data-type="box"
                        style="
                          display: flex;
                          border-style: solid;
                          border-color: rgb(68, 68, 68);
                          border-width: 0px;
                          padding: 0px;
                          width: auto;
                          height: auto;
                          flex-direction: column;
                          justify-content: right;
                          align-items: flex-start;
                        "
                      >
                        <span
                          class=""
                          data-type="text"
                          style="
                            color: rgb(255, 255, 255);
                            width: auto;
                            height: auto;
                            font-weight: bold;
                            text-align: right;
                            direction: rtl;
                            font-size: 13px;
                          "
                          >${dt[1]}</span
                        >
                        <span
                          class=""
                          data-type="text"
                          style="
                            color: rgb(115, 0, 255);
                            font-weight: bold;
                            font-size: 13px;
                          "
                          >${dt[2]}</span
                        >
                      </div>
                    </div>
                  </div>

                    `;
      }

      function GENItemsMe(data) {
        return `
        <div
              class=""
              id="box-chat-me-${data[0]}"
              data-type="box"
              style="
                display: flex;
                border-style: solid;
                border-color: rgb(34, 34, 34);
                border-width: 1px;
                padding: 5px;
                width: 100%;
                height: auto;
                margin: 5px 0px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px;
              "
            >
              <div
                class=""
                onclick="deletChatFromID('${data[0]}')"
                data-id="${data[0]}"
                style="
                  display: flex;
                  border-style: solid;
                  border-color: rgb(68, 68, 68);
                  border-width: 0px;
                  padding: 10px;
                  width: 40px;
                  height: 40px;
                  background-color: rgb(255, 0, 0);
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                "
              >
                <span
                  class="fi fi-rr-trash"
                  data-type="text"
                  style="
                    color: rgb(255, 255, 255);
                    display: flex;
                    font-size: 21px;
                  "
                >
                </span>
              </div>
              <div
                class=""
                data-type="box"
                style="
                  display: flex;
                  border-style: solid;
                  border-color: rgb(68, 68, 68);
                  border-width: 0px;
                  padding: 5px;
                  width: auto;
                  height: auto;
                  direction: rtl;
                  gap: 5px;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                "
              >
                <img
                  class=""
                  data-type="image"
                  id="img-${data[0]}"

                  style="width: 50px; height: 50px; border-radius: 50%"
                  src="{{api_img}}/static/image/${data[0]}.jpg"
                />
                <div
                  class=""
                  data-type="box"
                  style="
                    display: flex;
                    border-style: solid;
                    border-color: rgb(68, 68, 68);
                    border-width: 0px;
                    padding: 0px;
                    width: auto;
                    height: auto;
                    flex-direction: column;
                    justify-content: right;
                    align-items: flex-start;
                  "
                >
                  <span
                    class=""
                    data-type="text"
                    style="
                      color: rgb(255, 255, 255);
                      width: auto;
                      height: auto;
                      font-weight: bold;
                      text-align: right;
                      direction: rtl;
                      font-size: 13px;
                    "
                    >${data[1]}</span
                  >
                  <span
                    class=""
                    data-type="text"
                    style="
                      color: rgb(115, 0, 255);
                      font-weight: bold;
                      font-size: 13px;
                    "
                    >${data[2]}</span
                  >
                </div>
              </div>
            </div>
        `;
      }
      function isImageWorking(url) {
        return new Promise((resolve) => {
          const img = new Image();
          img.src = url;

          img.onload = () => resolve(true); // الصورة تعمل ✅
          img.onerror = () => resolve(false); // الصورة لا تعمل ❌
        });
      }
      async function checkImage(url) {
        const isWorking = await isImageWorking(url);
        return isWorking;
      }
      function addElementsGradually(dataList) {
        const container = document.getElementById("container");
        let index = 0;

        function addNextBatch() {
          let count = 0;
          while (index < dataList.length && count >= dataList.length) {
            index++;
            count++;
          }

          if (index < dataList.length) {
            requestAnimationFrame(addNextBatch); // جدولة التحديث التالي
          }
        }

        requestAnimationFrame(addNextBatch);
      }
      async function fetchUserData() {
        const list_add_chat = document.getElementById("list-add-chat");
        var list_add = [];
        try {
          const userResponse = await fetch("/getChats/api/{{data['number']}}");
          const data = await userResponse.json();
          list_add_chat.innerHTML = "";
          for (const us of data) {
            list_add_chat.innerHTML += GENItemsAddd(us);
          }

          list_add_chat.innerHTML += `<div
          class=""
          data-type="box"
          style="
            display: flex;
            border-style: solid;
            border-color: rgb(68, 68, 68);
            border-width: 0px;
            padding: 10px;
            width: 100%;
            height: auto;
            color: rgb(0, 0, 0);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            direction: rtl;
          "
        >
          <div
            class=""
            data-type="box"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(68, 68, 68);
              border-width: 0px;
              padding: 0px;
              width: auto;
              height: auto;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 9px;
            "
          >
            <div
              class=""
              data-type="box"
              style="
                display: flex;
                border-style: solid;
                border-color: rgb(68, 68, 68);
                border-width: 0px;
                padding: 10px;
                width: auto;
                font-size: 14px;
                font-weight: bold;
                height: auto;
              "
            >
              البحث من خلال اليوزر
            </div>
            <span
              class=""
              data-type="text"
              id="sh-hit-text"
              style="
                color: rgb(255, 255, 255);
                font-weight: bold;
                font-size: 13px;
              "
              >حالة العملية</span
            >
          </div>
          <div
            class=""
            data-type="box"
            style="
              display: flex;
              border-style: solid;
              border-color: rgb(68, 68, 68);
              border-width: 0px;
              padding: 0px;
              width: auto;
              height: auto;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 5px;
            "
          >
            <input
              class=""
              id="input-search-link"
              data-type="inputText"
              type="text"
              style="
                outline: none;
                background-color: rgb(17, 17, 17);
                border-color: rgb(115, 0, 255);
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                font-size: 14px;
                font-weight: bold;
                text-align: right;
                padding: 5px;
              "
              placeholder="ادخل اليوزر للبحث"
            />
            <input
              class=""
              data-type="inputText"
              onclick="AddChatFromLink()"
              type="button"
              value="بحث وأضافة"
              style="
                outline: none;
                background-color: rgb(17, 17, 17);
                border-color: rgb(115, 0, 255);
                border-width: 1px;
                border-style: solid;
                border-radius: 5px;
                font-size: 15px;
                font-weight: bold;
                padding: 5px;
                text-align: text;
                width: 100%;
              "
              placeholder="وقت رد بلثانية"
            />
          </div>
        </div>`;
          for (const data2 of data) {
            const img = document.getElementById(`img-${data2[0]}`);
            if ((await checkImage(img.src)) == false) {
              const postsResponse = await fetch(
                `/get/image/${data2[0]}/{{data['number']}}`
              );
              const posts = await postsResponse.json();
              img.src = posts.img;
            }
          }
        } catch (error) {
          console.error("Error:", error);
        }
      }

      async function AddChatInList(idd) {
        const obj = document.getElementById(`box-chat-add-${idd}`);
        const mylist = document.getElementById("list-chat-me");
        mylist.innerHTML += GENItemsMe([
          obj.dataset.id,
          obj.dataset.name,
          obj.dataset.chat,
          document.getElementById(`img-${idd}`).src,
        ]);
        obj.remove();
        sendRequest("/serachChatLink/{{data['number']}}", {
          link: String(idd).toString(),
        });
        fetch(`/get/image/${idd}/{{data['number']}}`)
          .then((response) => response.json())
          .then((user) => {
            document.getElementById(`img-${idd}`).src = user.img;
          });
      }
      var clickSerch = false;

      function AddChatFromLink() {
        if (clickSerch) {
          return;
        }
        const input = document.getElementById("input-search-link");
        const txt = document.getElementById("sh-hit-text");
        if (input.value) {
          clickSerch = true;
          txt.textContent = "جاري البحث";
          txt.style.color = "#e5ff00";
          sendRequest("/serachChatLink/{{data['number']}}", {
            link: input.value,
          }).then((res) => {
            if (res.ok) {
              const mylist = document.getElementById("list-chat-me");
              try {
                const obj = document.getElementById(
                  `box-chat-me-${res.chat[0]}`
                );
                obj.remove();
              } catch (error) {
                console.log(error);
              }
              mylist.innerHTML += GENItemsMe(res.chat);
              txt.textContent = res.text;
              txt.style.color = "green";
            } else {
              txt.textContent = res.text;
              txt.style.color = "red";
            }
            document.getElementById("sh-hit-text").textContent = res.text;
            console.log(res);
            clickSerch = false;
          });
        }
      }
      var inClickAdd = false
      function AddMsgTextList() {
        if (inClickAdd) {
          return;
        }
        inClickAdd = true
        const input_name = document.getElementById("input-name-text");
        const input_text = document.getElementById("input-text-text");
        const input_sleep = document.getElementById("input-sleep-text");
        const but_clos = document.getElementById("closeModalBtn2");
        const but_text = document.getElementById("input-but-text");
        if (input_name.value && input_text.value && input_sleep.value) {
          but_text.value = "جاري الحفظ ..."
          sendRequest("/addTextsList/{{data['number']}}",{name:input_name.value,text:input_text.value,sleep:input_sleep.value})
          .then((txt) => {
          document.getElementById("box-list-texts-id").innerHTML += `
          
          <div
              class=""
              id="box-text-my-${txt['index']}"
              data-index="${txt['index']}"
              data-name="${txt['name']}"
              data-sleep="${txt['sleep']}"
              data-text="${txt['text']}"
              
              style="
                display: flex;
                border-style: solid;
                border-color: rgb(34, 34, 34);
                border-width: 1px;
                padding: 5px;
                width: 100%;
                height: auto;
                margin: 5px 0px;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-radius: 10px;
              "
            >
              <div
                class=""
                data-type="box"
                onclick="deletTextFromIndex('${txt['index']}')"
                style="
                  display: flex;
                  border-style: solid;
                  border-color: rgb(68, 68, 68);
                  border-width: 0px;
                  padding: 10px;
                  width: 40px;
                  height: 40px;
                  background-color: rgb(255, 0, 0);
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
                "
              >
                <span
                  class="fi fi-rr-trash"
                  data-type="text"
                  style="
                    color: rgb(255, 255, 255);
                    display: flex;
                    font-size: 21px;
                  "
                >
                </span>
              </div>
              <div
                class=""
                data-type="box"
                onclick="ViewTextMsg('${txt['name']}','${txt['text']}','${txt['sleep']}')"
                style="
                  display: flex;
                  border-style: solid;
                  border-color: rgb(68, 68, 68);
                  border-width: 0px;
                  padding: 5px;
                  width: auto;
                  height: auto;
                  direction: rtl;
                  gap: 5px;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                "
              >
                <div
                  class=""
                  data-type="box"
                  style="
                    display: flex;
                    border-style: solid;
                    border-color: rgb(68, 68, 68);
                    border-width: 0px;
                    padding: 0px;
                    width: auto;
                    height: auto;
                    flex-direction: column;
                    justify-content: right;
                    align-items: flex-start;
                  "
                >
                  <span
                    class=""
                    data-type="text"
                    style="
                      color: rgb(255, 255, 255);
                      width: auto;
                      height: auto;
                      font-weight: bold;
                      text-align: right;
                      direction: rtl;
                      font-size: 13px;
                    "
                    >${txt['name']}</span
                  >
                  <span
                    class=""
                    data-type="text"
                    style="
                      color: rgb(115, 0, 255);
                      font-weight: bold;
                      font-size: 13px;
                    "
                    >${txt['sleep']} ثانية</span
                  >
                </div>
              </div>
            </div>
          
          `;

          input_name.value = "";
          input_text.value = "";
          input_sleep.value = "";
          but_text.value = "حفظ الرسالة";
          but_clos.click();
          });
        }
        inClickAdd = false
        
      }
      function ViewTextMsg(name,text,sleep) {
        document.getElementById("input-name-text-view").value = name;
        document.getElementById("input-text-text-view").value = text;
        document.getElementById("input-sleep-text-view").value = sleep;
        document.getElementById("modal3").style.display = "flex";
      }
      function deletChatFromID(id) {
        document.getElementById(`box-chat-me-${id}`).remove();
        sendRequest(`/deletChat/{{data['number']}}/${id}`,{});
      }
      function deletTextFromIndex(id) {
        document.getElementById(`box-text-my-${id}`).remove();
        sendRequest(`/deletText/{{data['number']}}/${id}`,{});
      }
      async function sendRequest(url, data) {
        try {
          const response = await fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          });

          if (!response.ok) {
            throw new Error(`خطأ في الطلب: ${response.status}`);
          }

          const result = await response.json();
          return result;
        } catch (error) {
          console.error("❌ حدث خطأ:", error);
          return null;
        }
      }
      fetchUserData();
    </script>
  </body>
</html>
